https://symfony.test {
    root * /var/www/symfony/public

    php_fastcgi fpm:9000

    file_server

    encode gzip

    tls internal

    log {
        output file /var/log/caddy/access.log
    }
}